.rosterNameCell {
  font-weight: bold;
  min-height: 2.5lh !important;
}

div.roster :global(div.MuiDataGrid-cell):focus {
  outline: none;
}

.roster :global(.roster-status-Standby) {
  background-color: orange;
}

.roster :global(.roster-status-SignedIn),
.roster :global(.roster-status-Available),
.roster :global(.roster-status-Assigned) {
  background-color: green;
}

.roster :global(.roster-status-Demobilized) {
  background-color: darkred;
}

.roster :global(.roster-status-Remote) {
  background-color: turquoise;
}